asn1crypto==0.24.0
click==7.1.2
cryptography==2.1.4
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
psutil==5.7.0
pycrypto==2.6.1
pygobject==3.26.1
pyrasite==2.0
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
spark-parser==1.8.9
uncompyle6==3.7.0
xdis==4.6.1
